@model AuthEntity
@{
    Layout = null;
}
<html>
<head>
    <title>Library Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <h3 class="text-center" >Please sign in</h3>
    <hr />
<div class="container m-5">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }
        <form asp-controller="Auth" asp-action="Login" class="align-content-center" method="post">
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input asp-for="Email" type="text" class="form-control" id="inputPassword">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input asp-for="Password" type="password" class="form-control" id="inputPassword">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
</div>
<hr />
    <span>If you do not have a membership, please create a new membership. => <strong><a asp-controller="Auth" asp-action="Register">New Account</a></strong></span><br />
    <span>Test Email : mail@mail.com   -  Password :  123</span>
</body>
</html>