<div class="card-footer bg-transparent border-success text-center m-2">

    <p>&copy; @DateTime.Now.Year - My Library. All rights reserved.</p> <span>bu sayfanın haklarını tamamı <strong>ROHAT GÜNES'E</strong> aittir</span>

</div>

